<mat-icon (click)="close()" >close</mat-icon>
<div class="container">
    <form>
      <div class="row">
        <div class="col-75">
          <h2>Movie ID : {{movie.tconst}}</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="lname">Primary Title</label>
        </div>
        <div class="col-75">
          <input [(ngModel)]="movie.primaryTitle" type="text" id="lname" name="lastname" value="movie.primaryTitle">
        </div>
      </div>
      <div class="row">
          <div class="col-25">
            <label for="oname">Original Title</label>
          </div>
          <div class="col-75">
            <input [(ngModel)]="movie.originalTitle" type="text" id="oname" name="orstname" value="movie.originalTitle">
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label for="vname">Start Year</label>
          </div>
          <div class="col-75">
            <input [(ngModel)]="movie.startYear" type="text" id="vname" name="vastname" value="movie.startYear">
          </div>
        </div>
        <div class="row">
            <div class="col-25">
              <label for="genre">Genre</label>
            </div>
            <div class="col-75">
              <select id="genre" name="genre" value="hhh">
                <option selected="selected" value="movie.genres">{{movie.genres}}</option>
                <option *ngFor="let val of selctions" value="val">{{val}}</option>
              </select>
            </div>
          </div>
          <br/>
      <div class="row">
        <button (click)="updateMovie()">Update</button>
      </div>
    </form>
  </div>