@import "https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css";

/* .table-holder table{
    margin: auto;
    border-spacing: 6px;
} */

.main-panel,  .main-panel > div {
    margin: 10px auto;
    display: flex;
}

.inputSearchBar {
    width: 605px;
    height: 34px;
    background: #fff;
    border: 1px solid #a0a1a2;
    border-radius: 18px 0 0 18px;
}

.inputSearchBar > .mat-icon {
    padding: 6px 6px;
    cursor: pointer;
}

.inputSearchBar > .mat-icon:hover {
    font-weight: 800;
}

.inputSearchBar > input {
    width: 560px;
    height: 28px;
    margin: 2px;
    border: 0;
    position: absolute;
    outline: none;
}

.filterDate > *{
    padding-left: 4px;
    border: none;
    outline: none;
}

.filterDate input {
    height: 28px;
    margin: 2px;
    border: 0;
    position: absolute;
    outline: none;
}

::placeholder, .filterDate span{
    color: #B2B4B7;
}

mat-spinner {
    margin: auto;
}

.filterDate {
    width: 195px;
    background: #fff;
    border: 1px solid #a0a1a2;
    border-radius: 0 18px 18px 0;
    padding: 6px 0;
}

tr.mat-header-row {
    background-color: black;
    border-radius: 10px;
}

.mat-column-primaryTitle, .mat-column-originalTitle {
    width: 40% !important;
}

.mat-column-startYear {
    width: 5% !important;
}

tr.mat-header-row th {
    color: white;
    font-family: inherit;
    font-weight: bolder;
    font-size: larger;
    min-width: 100px;
}

tr.mat-row:hover{
  background-color: #dde0de;
  cursor: pointer;
}

#closebtn {
    background-color: black;
    margin: 0;
    padding: 0;
    border: 0;
    z-index: 99999;
    color: white;
}