<mat-toolbar style="background-color:#0d0e10; border-radius: 10px 10px 0 0;"><img src="../../assets/logo/canal-plus.png" /></mat-toolbar>
<div class="main-panel">
    <div>
      <div class="inputSearchBar">
        <mat-icon (click)="changed()" >search</mat-icon>
        <input [(ngModel)]="searchText" (keyup.enter)="changed()" placeholder="Search"/>
      </div>
      <div class="filterDate">
          <span>Filtering by year: </span>
          <select *ngIf="noresult" [(ngModel)]='year' (change)="applyFilter(year)">
              <option *ngFor="let year of years" [value]="year">{{year}}</option>
          </select>  
      </div>
    </div>
  </div>
  <mat-spinner *ngIf="spinner"></mat-spinner>
  <div *ngIf="noresult" class="mat-elevation-z8" style="width: 90%; display: block; margin: 10px auto;">
      <table mat-table [dataSource]="dataSource" style="width: 100%">    
        <!-- Name Column -->
        <ng-container matColumnDef="primaryTitle">
          <th mat-header-cell *matHeaderCellDef> Primary Title </th>
          <td mat-cell *matCellDef="let element"> {{element.primaryTitle}} </td>
        </ng-container>
    
        <!-- Weight Column -->
        <ng-container matColumnDef="originalTitle">
          <th mat-header-cell *matHeaderCellDef> Original Title </th>
          <td mat-cell *matCellDef="let element"> {{element.originalTitle}} </td>
        </ng-container>
    
        <!-- Symbol Column -->
        <ng-container matColumnDef="startYear">
          <th mat-header-cell *matHeaderCellDef> Start Year </th>
          <td mat-cell *matCellDef="let element"> {{element.startYear}} </td>
        </ng-container>
        
        <ng-container matColumnDef="genres">
            <th mat-header-cell *matHeaderCellDef> Genres </th>
            <td mat-cell *matCellDef="let element"> {{element.genres}} </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="displayrecord(row)"></tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[14, 28, 35]" showFirstLastButtons></mat-paginator>
    </div>
    <button id="closebtn" (click)="closemd()"></button>